.content h1, .content h3 {
    font-family: 'Celias', sans-serif;
    text-align: left;
}

.content p, .content span {
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
}

.content li {
    text-align: left;
}

span.ts-muster-content {
    margin: 0;
}


@media only screen 
and (min-device-width: 375px) 
and (max-device-height: 667px)
and (-webkit-device-pixel-ratio: 2),
/* iPhone 6+, 7+, 8+ */
only screen 
and (min-device-width: 414px) 
and (max-device-height: 736px) 
and (-webkit-device-pixel-ratio: 2),
/* iPhone X  */
only screen 
and (min-device-width: 375px) 
and (max-device-height: 812px)
and (-webkit-device-pixel-ratio: 3),
/* Non-iPhone small screens */
only screen 
and (max-device-width: 1024px) {
    .content-wrapper {
        width: 90%;
    }

    .content {
        width: 90%;
        margin: auto;
    }

    .content h1 {
        text-align: left;
    }

    .content h3 {
        font-size: 1.3em;
    }

    .content p {
        font-size: 1.2em;
    }
}