.ProductShowcase {
    background-image: var(--dark-blue-gradient); 
    display: flex;
    min-height: 400px;
}

.main-product-part {
    width: 100%;
    display: flex;
    padding-top: 20px;
    justify-content: space-evenly;
    align-items: stretch;
}

.is-white .main-product-part {
    background-color: white;
}

.main-product-part p {
    font-family: 'Celias', sans-serif;
    color: white;
    /* background-color: darkgray; */
    align-content: space-around;
    width: 100%;
    /* flex-wrap: wrap; */
}

.is-white .main-product-part p {
    color: black;
    text-align: center;
}

.product-description {
    display: flex;
    flex-grow: 1;
    flex-basis: 50%;
    align-content: space-around;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product-description p {
    font-family: 'Open Sans', sans-serif;
    margin: 20px;
}

.product-description button {
    /* Positioning */
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    /* Colors */
    background-color: white;
    color: var(--brain-rain-pink);
    filter: drop-shadow(3px 3px 3px var(--brain-rain-pink));
    /* Font */
    font-family: 'Celias', sans-serif;
    font-size: 17px;
    /* Borders */
    border: 2px solid white;
    padding: 10px;
    border-radius: 50px;
    /* Other */
    cursor: pointer;
    animation: button-growth-reverse 0.15s ease-in-out;
}

.product-description button.is-white {
    background-color: var(--brain-rain-pink);
    color: white;
    border: 2px solid var(--brain-rain-pink);
    filter: drop-shadow(5px 5px 70px var(--brain-rain-pink));
    animation: button-growth-reverse-is-white 0.15s ease-in-out;
}

.product-description button:hover {
    filter: drop-shadow(7px 7px 3px var(--brain-rain-pink));
    margin-top: 12px;
    border: 6px solid white;
    animation: button-growth 0.1s ease-in-out;
    font-size: 20px;
}

.product-description button.is-white:hover {
    filter: none;
    margin-top: 12px;
    border: 6px solid var(--brain-rain-pink);
    filter: drop-shadow(5px 5px 10px var(--brain-rain-pink));
    animation: button-growth-is-white 0.1s ease-in-out;
}

@keyframes button-growth {
    0% {
        filter: drop-shadow(3px 3px 3px var(--brain-rain-pink));
        margin-top: 20px;
        border: 2px solid white;
        font-size: 17px;
    } 100% {
        filter: drop-shadow(7px 7px 3px var(--brain-rain-pink));
        margin-top: 12px;
        border: 6px solid white;
        font-size: 20px;
    }
}

@keyframes button-growth-reverse {
    0% {
        filter: drop-shadow(7px 7px 3px var(--brain-rain-pink));
        margin-top: 12px;
        border: 6px solid white;
        font-size: 20px;
    } 100% {
        filter: drop-shadow(3px 3px 3px var(--brain-rain-pink));
        margin-top: 20px;
        border: 2px solid white;
        font-size: 17px;
    }
}

@keyframes button-growth-is-white {
    0% {
        margin-top: 20px;
        border: 2px solid var(--brain-rain-pink);
        font-size: 17px;
        filter: drop-shadow(5px 5px 45px var(--brain-rain-pink));
    } 100% {
        margin-top: 12px;
        border: 6px solid var(--brain-rain-pink);
        font-size: 20px;
        filter: drop-shadow(5px 5px 20px var(--brain-rain-pink));
    }
}

@keyframes button-growth-reverse-is-white {
    0% {
        margin-top: 12px;
        border: 6px solid var(--brain-rain-pink);
        font-size: 20px;
        filter: drop-shadow(5px 5px 20px var(--brain-rain-pink));
    } 100% {
        margin-top: 20px;
        border: 2px solid var(--brain-rain-pink);
        font-size: 17px;
        filter: drop-shadow(5px 5px 45px var(--brain-rain-pink));
    }
}

span {
    margin: 0 20px 20px 0px;
    text-align: left;
    display: inline-block;
}

.ProductShowcase.is-white .product-description p > span {
    margin: 0 0 20px 20px;
}

/* TO have slight punk glow. */
.ProductShowcase:not(.is-white) .product-description p > span {    
    filter: drop-shadow(30vw 50px 200px var(--brain-rain-pink));
}

span.bigger-text {
    font-size: 40px;
    font-family: 'Celias', sans-serif;
    display: inline-block;
}

span.smaller-text {
    text-align: justify;
}

/* Animated Emojis in headlines */

span.barking-doggo {
    animation: barking-doggo-reverse 0.5s linear;
    /* display: inline-block; */
    margin: none;
    padding: none;
    transform: translate3d(0, 0, 0);
}

span.barking-doggo:hover {
    animation: barking-doggo 0.5s linear;
    /* transform: translate3d(0, 0, 0); */
    backface-visibility: hidden;
    perspective: 1000px;
    display: inline-block;
}

@keyframes barking-doggo {
    0% {
        transform: translateY(0px);
    } 30% {
        transform: translateY(-10px);
    } 45% {
        transform: translateY(8px);
    } 60% {
        transform: translateY(-10px);
    } 100% {
        transform: translateY(0px);
    }
}

span.shaking-key {
    animation: barking-doggo-reverse 0.5s linear;
    display: inline-block;
    margin: none;
    padding: none;
    transform: translate3d(0, 0, 0);
}

span.shaking-key:hover {
    animation: shaking-key 1s ease-in-out;
    /* transform: translate3d(0, 0, 0); */
    backface-visibility: hidden;
    perspective: 1000px;
    display: inline-block;
}

@keyframes shaking-key {
    0% {
        transform: rotate(0deg);
    } 30% {
        transform: rotate(-20deg);
    } 45% {
        transform: rotate(30deg);
    } 60% {
        transform: rotate(-25deg);
    } 100% {
        transform: rotate(0deg);
    }
}

.product-imgs {
    display: flex;
    flex-grow: 1;
    /* background-color: darkolivegreen;    */
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
}

.product-imgs img {
    /* background-color: red; */
    /* height: 100px; IMPORTANT: defined by parameter of ProductsShowcase! */
    animation: floating-1 10s ease-in-out infinite ;
    transform: translate3d(0, 0, 0);
    /* backface-visibility: hidden; */
    /* display: flex; */
    filter: drop-shadow(3px 3px 3px var(--brain-rain-blue));

    /* text-align: center; */
    /* justify-content: center;
    align-items: center; */
}

.is-white .product-imgs img {
    filter: drop-shadow(3px 3px 3px var(--brain-rain-pink));
}

.product-imgs img:nth-child(2) {    
    animation-delay: 1.5s;
    animation: floating-2 8s ease-in-out infinite;
}
.product-imgs img:nth-child(3) {    
    animation-delay: 3s;
    animation: floating-1 2s ease-in-out infinite ;
}

@keyframes floating-1 {
    0% {
        transform: translateY(10px) rotate(8deg);
    } 50% {
        transform: translateY(-40px) rotate(-8deg);
    } 100% {
        transform: translateY(10px) rotate(8deg);
    }
}

@keyframes floating-2 {
    0% {
        transform: translateY(-10px) rotate(-8deg);
    } 50% {
        transform: translateY(40px) rotate(8deg);
    } 100% {
        transform: translateY(-10px) rotate(-8deg);
    }
}

.ProductShowcase.is-white .side-space {
    background-color: white;
}

.ProductShowcase.is-white div.side-space {
    width: auto;
    height: auto;
    background-color: blue;
    overflow:auto;
}

@media (max-width: 832px),
only screen 
and (min-device-width: 375px) 
and (max-device-height: 667px)
and (-webkit-device-pixel-ratio: 2),
/* iPhone 6+, 7+, 8+ */
only screen 
and (min-device-width: 414px) 
and (max-device-height: 736px) 
and (-webkit-device-pixel-ratio: 2),
/* iPhone X  */
only screen 
and (min-device-width: 375px) 
and (max-device-height: 812px)
and (-webkit-device-pixel-ratio: 3),
/* Non-iPhone small screens */
only screen 
and (max-device-width: 1024px) {
    .main-product-part {
        flex-direction: column;
    }

    .product-description p {
        width: 90%;
        margin-left: auto !important; /* Set in the component. */
        margin-right: auto;
        align-self: center;
    }
    .product-description span {
        margin: 0;
    }

    .product-description span.bigger-text {
        font-size: 45px;
    }

    .product-description span.smaller-text {
        font-size: 1.4em;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .product-description button {
        font-size: 25px;
    }

    .product-imgs img {
        height: 50px;
        margin-bottom: 30px;
    }
}