@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
.EyeCatcher {
    background-image: linear-gradient(to bottom, rgb(7, 10, 25), rgb(8, 7, 25) 80%, rgb(20, 18, 63));
    color: white;
    width: 100%;
    height: var(--eyecatcher-height);
    padding-top: 60px;
    display: block;
    z-index: -100;
}

/*  */
/* body { z-index: -100; } */
/* #eyecatcher {
    background-image: linear-gradient(to bottom, rgb(7, 10, 25), rgb(8, 7, 25) 80%, rgb(20, 18, 63));
    color: white;
    width: 100%;
    height: 800px;
    padding-top: 60px;
} */
/* #eyecatcher > * {
    position: absolute;
} */
#eyecatcher h1 {
    position: absolute;
    font-size: 120px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-style: italic;
    text-shadow: 3px 3px 3px #ff4951;
    letter-spacing: 5px;
}

#eyecatcher-background {
    /* Position */
    position: absolute;
    top: var(--header-height);
    left: 0;
    z-index: 1;
    width: 100%;
    height: var(--eyecatcher-height);
    /* Coloring */
    filter: drop-shadow(3px 3px 3px cornflowerblue);
    /* Make it non-draggable */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#eyecatcher-logo {
    /* Positioning */
    position: absolute;
    height: 200px;
    right: 22%;
    top: 200px;
    /* Coloring */
    background-size: cover;
}

#brain {
    z-index: 2;
    right: 130px;
    top: 100px;
}

#rain {
    z-index: 2;
    right: 70px;
    top: 180px;
}

#num {
    /* Positiong */
    position: absolute;
    right: 300px;
    top: 320px;
    /* Coloring */
    color: #ff4951;
    font-family: 'Montserrat';
    font-style: italic;
    font-size: 50px;
    text-shadow: 3px 3px 3px white;
}


/* #welcome-text */
#welcome-text-wrapper {
    position: absolute;
    z-index: 3;
    width: 28%;
    left: 0;
    text-align: left;
    margin-left: calc(var(--side-space) - 40px);
}

#welcome-text p {
    font-family: 'Celias', sans-serif;
    font-size: 35px;
    font-weight: 500;
    color: black;
}

#welcome-text p > span.brain-rain-name {
    font-family: 'Celias', serif;
    border-top: 3px #ff4951 solid;
    border-bottom: 3px #ff4951 solid;
    font-weight: 700;
}

#welcome-text p > span.look-down {
    text-shadow: 3px 3px black;
    cursor: pointer;
    filter: drop-shadow(3px 3px 3px cornflowerblue);
}

#welcome-text-wave { display: none; }

/* Bubbles */
@keyframes bubble-up {
    0% {
        bottom: /*50px*/ 10%;
        opacity: 0;
    } 85% {
        bottom: /* calc(0.85 * 750px) */ 85%;
        opacity: 1;
    } 100% {
        bottom: /*750px*/ 90%;
        opacity: 0;
    }
}
.bubble {
    position: absolute;
    z-index: 0;
    filter: drop-shadow(3px 3px 3px cornflowerblue);
}

