header {
    display: flex;
    justify-content: space-between;
    height: 70px; /* Höhe Header. */
}

#logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu-items {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

#menu-items p {
    margin-right: 20px; /* Abstand Menüelemente. */
    font-family: 'Celias', sans-serif;
    font-weight: bold;
}

#menu-items p span {
    margin-left: 4px;
}

#logo-wrapper img {
    height: 30px;
}


p.currently-shown {
    color: green  !important;
}