header {
    display: flex;
    justify-content: space-between;
    height: 70px; /* Höhe Header. */

    /* z-index: 5 !important; */
}

.Navbar {
    /* z-index: 5 !important; */
}

#logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu-items {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

#menu-items p {
    margin-right: 30px; /* Abstand Menüelemente. */
    font-family: 'Celias', sans-serif;
    font-weight: bold;
    animation: show-menu-item-border-reverse 0.09s;
    cursor: default;
}

#menu-items p span {
    margin-left: 5px;
    cursor: pointer;
}

#logo-wrapper img {
    height: 30px;
    animation: logo-growth-reverse 0.5s;
}

#logo-wrapper img:hover {
    height: 40px;
    animation: logo-growth 0.5s;
}

@keyframes logo-growth {
    from { height: 30px } to { height: 40px }
}

@keyframes logo-growth-reverse {
    from { height: 40px } to { height: 30px }
}

#menu-items p span.currently-shown {
    /* border-top: 3px solid white;

    padding-top: 2px solid white;
    padding-bottom: 2px solid white;
    border-bottom: 3px var(--brain-rain-pink) solid; */
}



#menu-items p:hover {
    border-top: 2px solid var(--brain-rain-pink);
    border-bottom: 2px var(--brain-rain-pink) solid;
    animation: show-menu-item-border 0.07s;
}

@keyframes show-menu-item-border {
    from {        
        border-top: 0px solid var(--brain-rain-pink);
        border-bottom: 0px solid var(--brain-rain-pink);
    } to {
        border-top: 2px solid var(--brain-rain-pink);
        border-bottom: 2px solid var(--brain-rain-pink);
    }
}

@keyframes show-menu-item-border-reverse {
    from {
        border-top: 2px solid var(--brain-rain-pink);
        border-bottom: 2px solid var(--brain-rain-pink);
    } to {
        border-top: 0px solid var(--brain-rain-pink);
        border-bottom: 0px solid var(--brain-rain-pink);
    }
}