/* These are CSS properties that apply across more than one component. */
html {
/* :root { */
    --side-space: 200px;
    --eyecatcher-height: 600px;
    --header-height: 70px;
    --brain-rain-pink: #ff4951;
    --brain-rain-blue: cornflowerblue;
}

.side-space {
    width: var(--side-space);
    /* background-color: chocolate; */
}

/* Celias font styles. */
@font-face {
    font-family: 'Celias';
    src: url('./fonts/Celias-Black.woff2') format('woff2'),
        url('./fonts/Celias-Black.woff') format('woff'),
        url('./fonts/Celias-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Celias';
    src: url('./fonts/Celias-Bold.woff2') format('woff2'),
        url('./fonts/Celias-Bold.woff') format('woff'),
        url('./fonts/Celias-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Celias';
    src: url('./fonts/Celias-Medium.woff2') format('woff2'),
        url('./fonts/Celias-Medium.woff') format('woff'),
        url('./fonts/Celias-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


/* Open Sans import */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* Montserrat import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap');